<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>meetup_anonymous_refresh_token</key>
	<string>2e469435a0495bc2e12b854256c5fded</string>
	<key>meetup_consumer_key</key>
	<string>ukrqu9cn9dr5i9g1fekks3rd4g</string>
	<key>meetup_consumer_secret</key>
	<data>
	V553fV2CieDdyM+iLk8si4RDuWQBsky70x92INCFxFIZI4m18DpqTOkQLxoyl0UMCdIA
	ujpV/sFRjTkPc3CndTr8cNYRXtWkY5S2rIhNVVQo5Na0Ljc4vgCRUzLx+ZSfbsrzHzCw
	5a+t1gVR16/UbLri2YIosjuE01GH3VVZI9/CpeydISViE//mjb9POzKTKbFRauysRkLK
	b5U3o6p7IcRrvDmjJr4k1/A/Gh2b9C8AtAiobSwVtCThCG35obiUSxJfG6OD+ot8Us7L
	BdVkK9QlpuE7/L4kRklguDlI/JjVBF395nxhBSYoAPAzl30vR+TgBCvpPB+UcjLDxHqb
	uQ==
	</data>
</dict>
</plist>
