<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>meetup_consumer_key</key>
	<string>foo</string>
	<key>meetup_consumer_secret</key>
	<string>bar</string>
	<key>meetup_anonymous_access_key</key>
	<string>foo1</string>
	<key>meetup_anonymous_access_secret</key>
	<string>bar1</string>
</dict>
</plist>
