<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>meetup_anonymous_access_key</key>
	<string>foo1</string>
	<key>meetup_anonymous_access_secret</key>
	<data>
	H8nzzjDJapA1QX2fsP807dHEKxpWvxSLCNbJ3sarK3G8zGnYjpMvW+l9qTd6vzGDNGXX
	YC9e6DZZKdJ0hAi8hF7oVmSmcfyNrcXhdkAtmWnjyuFSVzauf5h9yp7w7XmqTayxzHxX
	izDoRSFESsTNJYz4YrjgK5dqVt2DqONz2btPAZC1ms92kpCAUl8BZ++CLRO9YQd2wdDn
	mfK5NTvupHsx7QAJmRG2fHjHA5G5gHLaCRBbRj5sWkiBBMhhOxY4krURXtGKwG5ENVeb
	5HbfgLrtm/upM30gspksxRmXlmRt4I2Ri+nKjUGz2iAn4D6wFTgGWmEx2UsHMzBv5bbJ
	Sw==
	</data>
	<key>meetup_consumer_key</key>
	<string>foo</string>
	<key>meetup_consumer_secret</key>
	<data>
	d8pFzhxE9JHMZXdAGbUe7MMPNuRvXHru43B1CNxGRLx1zwiJRZ6YY853XRykbLPeM/cR
	NBuYZYAna4pppp4oAeT22qyCEwjlffy/V4T592/3x2iYuVc7k9NIk1OSnhMxK7DID9Co
	g0PBz7eoNI080MRiAb500EKDk8XbBUfSoQvOCHDfIHXmfJpeQpvuwOBVWGbw7w0NpgLC
	D81hKQ2kMxrCtiMDPfdp8DN+rHA01sxhGbxXWbzPG7DTNKwNjqxsTJaPZzQrTtadt63W
	+16al5Iza+3BL91uc2ZwKnD/E2Nbx/V/aSP8L2tgC0yOhGrQZefupgobCqz6cS9THtKf
	3w==
	</data>
</dict>
</plist>
